<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>jstest</title>
<!--    <SCRIPT type="text/javascript" src="/js/custom.js"></SCRIPT>-->
</head>
<body>
<input type="text" name="firstField" id="t1"><br><br>
<input type="text" name="secondField" id="t2"><br><br>
<input type="button" id="btn1" onclick="add()" value="Dodaj"/>
<input type="text" name="result" id="t3">
<input type="text" name="result" id="t4">
<input type="checkbox" id="mycheck" onclick="add()">


<script type="text/javascript">
   function add() {
   var str = t1.value;
   var res = t1.value.split(",");
   t4.value = res[1];

   var first=parseInt(t1.value);
   var second=parseInt(t2.value);
   t3.value=first+second;
   }
</script>
</body>
</html>