<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>whateva</title>
</head>
<body>
<div id="main"></div>

<script type="text/javascript">

    let mainDiv = document.getElementById("main");
    for (i = 0; i < 3; i++) {
        let t = document.createTextNode("sometext");
        let p = document.createElement("input");
	 p.type = "text"
	 p.value = t.value;
	 mainDiv.appendChild(p);
        let btn = document.createElement("button");
        btn.innerHTML = "CLICK_ME";
        mainDiv.appendChild(btn);
        let chkbx = document.createElement("input");

        chkbx.setAttribute("type","checkbox");
        chkbx.setAttribute("id","6");
        chkbx.setAttribute("name","aaaa");
        mainDiv.appendChild(chkbx);
        mainDiv.appendChild(document.createElement("br"))


    }
</script>

</body>
</html>